@page
@model SynthesisAssignment.Pages.SchedulesModel
@{
    <link rel="stylesheet" href="/css/tournaments.css" />
}
<header>
    <ul>
        <li><a asp-area="" asp-page="/Tournaments">Tournaments</a></li>
        <li><a asp-area="" asp-page="/Profile">Profile</a></li>
        <li><a asp-area="" asp-page="/Players">Players</a></li>
        <li><a asp-area="" asp-page="/Schedules">Tournament Schedules</a></li>
    </ul>
</header>

