body {
    background-image: url(../pics/frontpage.png);
    background-size: cover;
    background-repeat: no-repeat;
}

span {
    margin-top: 600px;
    margin-left: 100px;
    padding: 15px 32px;
    display: inline-flex;
    width: 180px;
    height: 55px;
    perspective: 1000px;
}

    span a {
        font-size: 19px;
        letter-spacing: 1px;
        transform-style: preserve-3d;
        transform: translateZ(-25px);
        transition: transform .25s;
        font-family: 'Montserrat', sans-serif;
    }

        span a:before,
        span a:after {
            position: absolute;
            content: "Log in";
            height: 55px;
            width: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 5px solid black;
            box-sizing: border-box;
            border-radius: 5px;
        }

        span a:before {
            color: #fff;
            background: #000;
            transform: rotateY(0deg) translateZ(25px);
        }

        span a:after {
            color: white;
            transform: rotateX(90deg) translateZ(25px);
        }

        span a:hover {
            transform: translateZ(-25px) rotateX(-90deg);
        }